{% extends 'base.html' %}
{% block title %} Add Income {% endblock %} {% block content %}

<div class="container mt-4">
  <h4>Add Income</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income'%}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="amount"
            value="{{values.amount}}"
          />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>
        <div class="form-group">
          <label for="">Source</label>
          <select class="form-control" name="source">
            {% for category in categories %}
            <option name="source" value="{{category.name}}">{{ category.name }}</option>
              {{category.name}}
            </option>

            {% endfor %}
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="">Date of Income</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="income_date"
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm mt-3"
        />
      </form>
    </div>
  </div>
</div>


{% endblock %}
